@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/font/Inter.woff2') format('woff2');
	font-display: swap;
}

html {
	@apply bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100 accent-primary-900 dark:accent-primary-100;
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 30%;
}

* {
	@apply box-border;
}
