@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('/font/Inter.woff2') format('woff2');
	font-display: swap;
}

html {
	@apply bg-neutral-50 dark:bg-neutral-950 text-neutral-900 dark:text-neutral-100;
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
}

* {
	@apply box-border;
}
