<script>
	import ComponentContainer from '../../ComponentContainer.svelte';import {Select, Codeblock}
	from '$lib/index'
</script>

# Select Menus

<Select placeholder="test" label="Select Menu">
  <option value="option1">Option 1</option>
</Select>

<Codeblock
filename="Svelte"
src={`<Select placeholder="test" label="Select Menu">

  <option value="option1">Option 1</option>
</Select>
`}
/>
